@media only screen and (max-device-width: 900px) {
    /* .menu { width:600px; } */
    }

nav {
    background-color: #060c21;
    border-radius: 10px;
    overflow: hidden;
    position: fixed;
    width: 100%;
    top: 0;
}
nav .menu{
    color: #fff;
    float: left;
    display: block;
    padding: 14px 16px;
    letter-spacing: 2px;
}
nav a {
    color: #fff;
    float: right;
    text-decoration: none;
    display: block;
    padding: 14px 16px;
    letter-spacing: 5px;
    transition: 2s;
}
nav a:hover {
    background: linear-gradient(315deg, #3000b3, #ad8ae9);
    color: black;
    transition-delay: 0.2s;
    text-shadow: 2px 2px 2px #fff;
}